# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
*       @owner

# Order is important; the last matching pattern takes the most precedence.

# Core app files
/app/                @owner
/components/         @owner
/lib/               @owner
/public/            @owner

# Configuration files
*.js                @owner
*.json              @owner
*.yml               @owner
*.yaml              @owner

# Documentation
*.md                @owner